exportPattern("^[[:alpha:]]+")
exportMethods("summary","plot")
importFrom("graphics", "plot.default")
importFrom("methods", ".valueClassTest", "callNextMethod", "new")
importFrom("stats", "na.omit", "optim", "optimHess", "pnorm", "sd","var","runif","rnorm","rt","pchisq")
importFrom("utils", "head", "tail", "timestamp")
importFrom("doParallel","registerDoParallel","stopImplicitCluster")
importFrom("parallel","makeCluster","stopCluster")
importFrom("foreach","foreach","%do%","%dopar%")
importFrom("Matrix","nearPD","qr")
