exportPattern("^[[:alpha:]]+")
importFrom("graphics", "plot.default")
importFrom("methods", ".valueClassTest", "callNextMethod", "new")
importFrom("stats", "na.omit", "optim", "optimHess", "pnorm", "sd","var")
importFrom("utils", "head", "tail", "timestamp")
importFrom("foreach","foreach","%do%","%dopar%")
importFrom("parallel","makeCluster","stopCluster")
importFrom("doParallel","registerDoParallel","stopImplicitCluster")
